@tailwind base;
@tailwind components;
@tailwind utilities;

/* 둥근모 폰트 */
@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply font-main; /* 기본 폰트를 body에 적용 */
  }
  button {
    @apply font-main; /* 기본 폰트를 button에도 적용 */
  }
}

/* 로딩 스피너 스타일 */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
